{# {% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block breadcrumbItem %}
<li class="breadcrumb-item"><a href="javascript:void(0);">Reset</a></li>
<li class="breadcrumb-item active">Password</li>
{% endblock %}

{% block pageTitle %}Password{% endblock %}

{% block body %}
    
{% endblock %}
 #}

{% apply spaceless %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>ST-DIGITAL Technical Monitoring web portal | Reset Password</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="A template by CLETECH" name="description" />
        <meta content="My Generator themes" name="Pascal ALHADOUM" />
        
        <!-- App favicon -->
        <link rel="shortcut icon" href="/images/logoCLETech.ico">

        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
            {#{{ encore_entry_link_tags('app') }}#}
        {% endblock %}
        
        {% block DataTablesStylesheets %}{% endblock %}

        <!-- App css -->
        <link href="/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="/css/icons.css" rel="stylesheet" type="text/css" />
        <link href="/css/metisMenu.min.css" rel="stylesheet" type="text/css" />
        <link href="/css/style.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <!-- Top Bar Start -->
        <div class="topbar">

            <!-- Navbar -->
            <nav class="navbar-custom" style="width: auto;margin-left: 0;">    
                <ul class="list-unstyled topbar-nav float-right mb-0"> 
                    
                    <li class="dropdown">
                        <a class="nav-link waves-effect waves-light nav-user" href="{{ path('app_login') }}" >
                            <u>Sign In</u> 
                            {# <img src="/images/users/user-4.jpg" alt="profile-user" class="rounded-circle" />  #}
                            {# <span class="ml-1 nav-user-name hidden-sm"> <i class="dripicons-arrow-thin-right nav-icon ml-2"></i> </span> #}
                        </a>
                        {# <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="{{ path('account_profile') }}"><i class="dripicons-user text-muted mr-2"></i> Profile</a>
                            <a class="dropdown-item" href="{{ path('account_password') }}"><i class="dripicons-document-edit text-muted mr-2"></i> Edit Password</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{ path('app_logout') }}"><i class="dripicons-exit text-muted mr-2"></i> Logout</a>
                        </div> #}
                    </li>
                    
                    {# <li class="">
                        <a class="waves-effect align-self-center nav-link waves-light" href="#">
                            Continue<i class="dripicons-arrow-thin-right nav-icon ml-2"></i>
                            
                            <i class="dripicons-home nav-icon"></i>
                        </a>
                    </li> #}
                    
                </ul><!--end topbar-nav-->

                <ul class="list-unstyled topbar-nav mb-0"> 
                    {# <li>
                        <a class="button-menu-mobile nav-link waves-effect waves-light">
                            <i class="dripicons-home nav-icon"></i>
                        </a>
                    </li> #}
                    <li class="hide-phone app-search">
                        <h4>{% block topTitle %}ST-DIGITAL Technical Monitoring Web Portal{% endblock %}</h4>
                    </li>
                </ul>
            </nav>
            <!-- end navbar-->
        </div>
        <!-- Top Bar End -->
        <div class="page-wrapper">
            <!-- Left Sidenav -->
            
            <!-- end left-sidenav-->

            <!-- Page Content-->
            <div class="page-content">

                <div class="container-fluid">
                    <!-- Page-Title -->
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="page-title-box">
                                <div class="float-right">
                                    <ol class="breadcrumb">
                                        {% block breadcrumbItem %}
                                        {# <li class="breadcrumb-item"><a href="javascript:void(0);">Metrica</a></li>
                                        <li class="breadcrumb-item"><a href="javascript:void(0);">Analytics</a></li>
                                        <li class="breadcrumb-item active">Dashboard</li> #}
                                        {% endblock %}
                                    </ol>
                                </div>
                                <h1 class="page-title">{% block pageTitle %}{% endblock %}</h1>
                            </div><!--end page-title-box-->
                        </div><!--end col-->
                    </div>
                    <!-- end page title end breadcrumb -->
                    
                    {% for label, messages in app.flashes %}
                    <div class="alert alert-{{label}} alert-dismissible fade show" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true"><i class="fa fa-times"></i></span>
                        </button>
                        <div class="d-flex align-items-center">
                            <div class="alert-icon width-3">
                                <span class="icon-stack icon-stack-sm">
                                    {% if label == 'success' %}
                                    <i class="base-7 icon-stack-3x color-success-600"></i>
                                    <i class="fa fa-check icon-stack-1x text-white"></i>
                                    {% elseif label == 'danger' %}
                                    <i class="fa fa-exclamation-triangle"></i>
                                    {% endif %}
                                </span>
                            </div>
                            <div class="flex-1">
                                {% for message in messages %}
                                <strong>{{ message|raw }}</strong>.
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    {% endfor %} 
                                          
                    <div class="row">
                        <div class="col-12">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="mt-0 header-title"></h4>
                                    {{ form_start(form) }}
                                    <div class="form-group">
                                        {{ form_label(form.oldPassword, null, {'label_attr': {'class': ''}}) }}
                                        {{ form_widget(form.oldPassword, {'attr': {'class': "form-control"}}) }}
                                        <small class="form-text text-muted">* Obligatoire</small>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.newPassword, null, {'label_attr': {'class': ''}}) }}
                                        {{ form_widget(form.newPassword, {'attr': {'class': "form-control"}}) }}
                                        <small class="form-text text-muted">* Obligatoire</small>
                                    </div>
                                    <div class="form-group">
                                        {{ form_label(form.confirmPassword, null, {'label_attr': {'class': ''}}) }}
                                        {{ form_widget(form.confirmPassword, {'attr': {'class': "form-control"}}) }}
                                        <small class="form-text text-muted">* Obligatoire</small>
                                    </div>
                                    
                                    <button type="submit" class="btn btn-primary" id="saveBtn">
                                        <span class="spinner-border spinner-border-sm mr-1 d-none" role="status" aria-hidden="true"></span>
                                        Save Password
                                    </button>

                                    {{ form_end(form) }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- container -->
                
                {% include 'partials/footer.html.twig' %}
                <!--end footer-->
            </div>
            <!-- end page content -->
        </div>

        <!-- jQuery  -->
        <script src="/js/jquery.min.js"></script>
        <script src="/js/bootstrap.bundle.min.js"></script>
        <script src="/js/metisMenu.min.js"></script>
        <script src="/js/waves.min.js"></script>
        <script src="/js/jquery.slimscroll.min.js"></script>

        <!-- App js -->
        <script src="/js/app.js"></script>
        
        <script>
            $('#password_update_oldPassword').prop('required',false);
            var newPassword = $('#password_update_newPassword');
            var confirmPassword = $('#password_update_confirmPassword');
            //console.log('newPassword type : ' + jQuery.type(newPassword.val()))
            newPassword.on('input', function() { 
                //console.log($(this).val()); // get the current value of the input field.
                if( $(this).val() === confirmPassword.val() ){
                    confirmPassword.removeClass("is-invalid");
                    confirmPassword.addClass("is-valid");
                    
                }
                else{
                    confirmPassword.removeClass("is-valid");
                    confirmPassword.addClass("is-invalid");
                }
            });


            confirmPassword.on('input', function() { 
                //console.log($(this).val()); // get the current value of the input field.
                if( $(this).val() === newPassword.val() ){
                    confirmPassword.removeClass("is-invalid");
                    confirmPassword.addClass("is-valid");
                    
                }
                else{
                    confirmPassword.removeClass("is-valid");
                    confirmPassword.addClass("is-invalid");
                }
            });

            $('#saveBtn').click(function(){
                $('#password_update_oldPassword').prop('required',false);
                $(this).children('i').addClass('d-none');
                $(this).children('span').removeClass('d-none');
                
            });
        </script>
    </body>
</html>
{% endapply %}
