
{% block _site_user_collection_users_widget %}

{# <div class="card">
    <div class="card-body mx-5">         #}
        <h4 class="mt-2 mb-4 header-title">Specify which users have access to this site</h4>
    
        {{form_widget(form)}}

        <input type="hidden" id="users-widgets-count">
        
        <div class="form-group mt-4 text-right">
            <button type="button" id="add-users" class="btn btn-primary mr-2 waves-effect" data-toggle="tooltip" data-placement="top" title="Add user">
                <i class="fas fa-plus-circle mr-2"></i>User
            </button>
            
        </div>
    {# </div>
</div> #}
                        
{% endblock %}

{% block _site_user_collection_users_entry_row %}
    {{form_widget(form)}}
{% endblock %} 

{% block _site_user_collection_users_entry_widget %}
    
    <div class="row form-group mb-0 align-items-center nbItems" id = "block_{{id}}">
        <div class="col-10 mt-4">
            <div class="row text-center">
                <div class="col coluserName_{{id}}">
                    <div class="form-group">
                        <div class="input-group">
                            {# <div class="input-group-prepend">
                                {{ form_label(form.reference, null, {'label_attr': {'class': 'input-group-text'}}) }}
                            </div> #}
                            {{ form_widget(form.userNam, {'attr': {'class': "form-control text-center select2 custom-select"}}) }}
                            
                        </div>
                    </div>
                </div>
                <div class="col d-none colName_{{id}}">
                    <div class="form-group">
                        <div class="input-group">
                            
                            {{ form_widget(form.name, {'attr': {'class': "form-control text-center"}}) }}
                            
                        </div>
                    </div>
                </div>
                {# <div class="col d-none">
                    <div class="form-group">
                        <div class="input-group">
                            
                            {{ form_widget(form.userPrice, {'attr': {'class': "form-control text-center"}}) }}
                            
                        </div>
                    </div>
                </div>
                <div class="col d-none">
                    <div class="form-group">
                        <div class="input-group">
                            
                            {{ form_widget(form.userSku, {'attr': {'class': "form-control text-center"}}) }}
                            
                        </div>
                    </div>
                </div>
                
                <div class="col d-none">
                    <div class="form-group">
                        <div class="input-group">
                            
                            {{ form_widget(form.price, {'attr': {'class': "form-control text-center"}}) }}
                            
                        </div>
                    </div>
                </div>
                <div class="col d-none">
                    <div class="form-group">
                        <div class="input-group">
                            
                            {{ form_widget(form.sku, {'attr': {'class': "form-control text-center"}}) }}
                            
                        </div>
                    </div>
                </div> #}
                
            </div>       
        </div>

        <div class="col">
            <button type="button" data-action="delete" data-target="#block_{{id}}" class="mt-1 btn btn-danger">
                <i class="fas fa-trash"></i>
            </button>
        </div>

    </div>


{% endblock %}
