{% extends 'base.html.twig' %}

{% block title %}Sites list{% endblock %}

{% block breadcrumbItem %}
<li class="breadcrumb-item"><a href="javascript:void(0);">Site</a></li>
<li class="breadcrumb-item active">List</li>
{% endblock %}

{% block pageTitle %}Sites{% endblock %}

{% block body %}
    <h1>Sites lists</h1>
    {# <div class="mt-2 mb-2 mr-5 text-right">
        <a href="{{ path('site_new') }}" class="btn btn-soft-primary rounded waves-effect " data-toggle="tooltip" data-placement="top" title="Add new site ?"><i class="fa fa-plus-circle mr-2"></i>Add</a>
    </div> #}

    <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
        <thead>
            <tr class="text-center">
                <th>Name</th>
                {# <th >Daily Mains Interruption Limit</th>
                <th>Currency</th> #}
                <th>Users</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for site in sites %}
            <tr class="text-center">
                <td>{{ site.name }}</td>
                {# <td>{{ site.mainsInterruptDayLimit }}</td>
                <td>{{ site.currency }}</td> #}
                <td>{{ site.users|length }}</td>
                <td>
                    <a href="{{ path('site_setting', {'site': site.id}) }}" class="btn btn-soft-primary btn-xs rounded waves-effect mr-2" data-toggle="tooltip" data-placement="top" title="Edit site ?"><i class="far fa-edit mr-2"></i>Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
