{% extends 'admin/base.html.twig' %}

{% block title %}Zones list{% endblock %}

{% block breadcrumbItem %}
<li class="breadcrumb-item"><a href="javascript:void(0);">Zones</a></li>
<li class="breadcrumb-item active">Lists</li>
{% endblock %}

{% block pageTitle %}Zones{% endblock %}

{% block body %}
    <h1>Zones lists</h1>
    <div class="mt-2 mb-2 mr-5 text-right">
        <a href="{{ path('admin_zone_new') }}" class="btn btn-soft-primary rounded waves-effect " data-toggle="tooltip" data-placement="top" title="Add new zone ?"><i class="fa fa-plus-circle mr-2"></i>Add</a>
    </div>

    <table id="datatable-buttons" class="table table-striped table-bordered dt-responsive nowrap" style="border-collapse: collapse; border-spacing: 0; width: 100%;">
        <thead>
            <tr class="text-center">
                {# <th>Id</th> #}
                <th>Name</th>
                <th>Power Subscribed</th>
                <th>Type</th>
                <th>Enterprise</th>
                <th>Site</th>
                <th>Nb Modules</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for zone in zones %}
            <tr class="text-center">
                {# <td>{{ zone.id }}</td> #}
                <td>{{ zone.name }}</td>
                <td>{{ zone.powerSubscribed }}</td>
                <td>{{ zone.type }}</td>
                <td>{{ zone.site.enterprise.socialReason }}</td>
                <td>{{ zone.site.name }}</td>
                <td>{{ zone.smartMods|length }}</td>
                <td>
                    <form method="post" action="{{ path('admin_zone_delete', {'id': zone.id}) }}" onsubmit="return confirm('Do really want to delete zone << {{zone.name}} >> ?');">
                        <a href="{{ path('admin_zone_edit', {'id': zone.id}) }}" class="btn btn-soft-primary btn-xs rounded waves-effect mr-2" data-toggle="tooltip" data-placement="top" title="Edit zone ?"><i class="far fa-edit mr-2"></i>Edit</a>
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ zone.id) }}">
                        <button class="btn btn-soft-danger btn-xs rounded waves-effect mt-1 mr-2" data-toggle="tooltip" data-placement="top" title="Delete zone ?"><i class="mdi mdi-trash-can-outline mr-2"></i>Delete</button>
                    </form>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {# <a href="{{ path('zone_new') }}">Create new</a> #}
{% endblock %}
